/* Index.html */
#title{
    background-color:#ff4c68;
}
/* ****************************** */
/* index1.html */
.top-container{
    background-color:#ff4c68;
}
h1{
    font-family:"Montserrat-Black", sans-serif;
font-size:3rem;
line-height:1.5;
}
/* ******************************* */